@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block !important; 
    overflow: hidden;         
    background: #242424;
}

#root {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
}

.map-root {
    height: 100vh;
    width: 100vw;
}

.leaflet-container {
    image-rendering: pixelated;
}
