@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    display: block !important; 
    overflow: hidden;         
    background: #242424;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
}

.map-root {
    height: 100vh;
    width: 100vw;
}

.maplibregl-popup .maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.maplibregl-popup .maplibregl-popup-tip {
  display: none !important;
}

.maplibregl-popup .maplibregl-popup-close-button {
  display: none !important;
}